/* Orders.module.css */

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.head {
  background-color: #f0f0f0;
  font-weight: bold;
}

.row {
  border: 2px solid #ccc;
}

.row:nth-child(even) {
  background-color: #f9f9f9;
}

.body{
  text-align: center;
}

