@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.css-1mcnwpj-MuiList-root{
    display: grid;
    align-content: space-between;
    justify-content: center;
    height: 100vh;
}

.css-1mcnwpj-MuiList-root > .button-wrapper{
display: grid;
width: 100%;
}
