/* 

.sidebar {
    width: 200px; 
    height: 100vh; 
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    position:absolute;
  }
  
  .sidebar a {
    text-decoration: none; 
    color: #fff; 
    font-size: larger;
    margin-bottom: 10px; 
    text-align: center;
  }
  .sidebar a:hover {
    background-color: #555;
  }

  .order{
    float:right;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

  }

  .logout{
    margin-top: 380%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
  }
   */