/* loginpage.module.css

.main {
     /* text-align: center; 
     display: flex;
     min-height: 100vh;
   max-width: 300px;
     align-items: center;
     justify-content: center;
     background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
  }

  .heading{
    margin-bottom: 80px;
  }
  
  .form {
    position:'relative';
    display:flex;
    flex-direction:column;
    border: 2px solid black;
    padding: 100px;
    min-height: 40vh;
    background-color:rgb(241, 237, 232);
  }
  
  .label {
    text-align: left;
    padding: 0.25rem 0; 
    font-size: larger;
    font-weight: bold;
  }
  
  .input {
    padding: 1rem;
    border: 2px solid black;
    position:relative;
    border-radius: 10px;
  }
  
  .button {
    border: none;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin:auto;
    width: 70%;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  .para{
    margin-top: 80px;
  }

  .errormessage{
    color:red;
    height: 20px;
}